/*APP*/
.App {
  text-align: center;
  line-height : 1.15; 
}

::-webkit-scrollbar {
    display: none;
}

/*HEADER*/
.Header {
  min-height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Header h1{
    font-size : 21px;
}
